:root {
	--font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
	--black: #202223;
	--yellow: #e9ff66;
	--blue: #1877f2;
	--middle-blue: #0D3854;
	--dark-blue: #062940;
	--light-blue: #c0d6ea;
	--white: #fff;
	--off-white: #e7e7e7;
	--gray: #999;
	--light-gray: #bababa;
	--background: #f6f6f7;
}

body {
	font-family: var(--font-family);
	margin: auto;
	text-align: left;
	background-color: var(--background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--black);
}

.header-inner, main, footer, .max-width {
	padding: 1em;
	max-width: 65ch;
	margin: auto;
}

a {
	color: var(--blue);
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: var(--off-white);
}

pre {
	padding: 1rem;
}

pre > code {
	all: unset;
}

blockquote {
	border: 1px solid var(--gray);
	color: var(--black);
	padding: 2px 0px 2px 16px;
	margin: 0px;
	font-style: italic;
}

hr {
	border: 0;
	height: 1px;
	background: var(--light-gray);
}

/* remark */
.toc {
	border-bottom: 1px solid var(--light-gray);
	margin-bottom: 2em;
}

.title {
	position: relative;
}

.title a {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	color: inherit;
}

.title a:before {
	content: '#';
	position: absolute;
	display: block;
	margin-right: 0.2em;
	right: 100%;
	visibility: hidden;
	color: var(--blue);
}

.title:hover a:before {
	visibility: visible;
}

/* 
prefers dark mode
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
*/
@media (prefers-color-scheme: dark) {
	html {
		filter: invert(100%);
	}
}

/* 
scroll-top to account for sticky header
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
*/
html {
  scroll-padding-top: 4rem;
}