:root {
	--font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
	--dark-black: #0d1117;
	--black: #202223;
	--yellow: #e9ff66;
	--blue: #1877f2;
	--middle-blue: #0D3854;
	--dark-blue: #062940;
	--light-blue: #c0d6ea;
	--white: #fff;
	--off-white: #e7e7e7;
	--light-gray: #bababa;
	--code-gray: #C9D1D9;
	--gray: #999;
	--dark-gray: rgb(124, 124, 124);
	--box-shadow: rgb(0 0 0 / 8%) 0px 0px 8px;
	--box-shadow-deep: rgb(0 0 0 / 16%) 0px 0px 8px;
	--ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

	/* element specific styles */
	--header-background: var(--dark-blue);
	--body-text: var(--black);
	--body-background:#f6f6f7;
	--post-background: var(--white);
	--post-text: var(--black);
	--post-text-hover: var(--blue);
	--code-color: var(--black);
	--code-background: var(--off-white);
	--link-color: var(--blue);
}

/* 
prefers dark mode
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
*/
@media (prefers-color-scheme: dark) {
	:root {
		--header-background: var(--middle-blue);
		--body-text: var(--white);
		--body-background:var(--dark-blue);
		--post-background: var(--middle-blue);
		--post-text: var(--white);
		--post-text-hover: var(--yellow);
		--link-color: var(--yellow);
		--code-color: var(--code-gray);
		--code-background: var(--dark-black);
	}
}

/* ❗️ keep the rules in sync with the automatic dark mode above! */
:root.dark {
	--header-background: var(--middle-blue);
	--body-text: var(--white);
	--body-background:var(--dark-blue);
	--post-background: var(--middle-blue);
	--post-text: var(--white);
	--post-text-hover: var(--yellow);
	--link-color: var(--yellow);
	--code-color: var(--code-gray);
	--code-background: var(--dark-black);
}

/* 
scroll-top padding
to account for sticky header
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
*/
html {
  scroll-padding-top: 4rem;
}

body {
	font-family: var(--font-family);
	margin: auto;
	text-align: left;
	background-color: var(--body-background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--body-text);
}

.header-inner, main, footer, .max-width {
	padding: 1em;
	max-width: 65ch;
	margin: auto;
}

a {
	color: var(--link-color);
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: var(--code-background);
	color: var(--code-color);
}

pre {
	padding: 1rem;
}

pre > code {
	all: unset;
}

blockquote {
	border: 1px solid var(--link-color);
	color: var(--link-color);
	padding: 2px 0px 2px 16px;
	margin: 0px;
	font-style: italic;
}

hr {
	border: 0;
	height: 1px;
	background: var(--light-gray);
}

time {
	font-size: 0.9em;
}

/* remark */
.toc {
	border-bottom: 1px solid var(--light-gray);
	margin-bottom: 2em;
}

.title {
	position: relative;
}

.title a {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	color: inherit;
}

.title a:before {
	content: '#';
	position: absolute;
	display: block;
	margin-right: 0.2em;
	right: 100%;
	visibility: hidden;
	color: var(--link-color);
}

.title:hover a:before {
	visibility: visible;
}

/* shared "post" styles */
.posts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.25em;
}

.posts .post {
	background: var(--post-background);
	border-radius: 0.8rem;
	padding: 0.625em 1.25em;
	box-shadow: var(--box-shadow);
	text-decoration: none;
	color: var(--post-text);
}

.loaded .post,
.loaded .post * {
	transition: all 0.1s var(--ease-in-out);
}

.post time {
	color: var(--dark-gray);
}

.posts .post h2 {
	margin: 0.25em 0 0;
}

.posts .post:hover {
	box-shadow: var(--box-shadow-deep);
}

.posts .post:hover * {
	color: var(--post-text-hover);
}

.flowchart-link {
	stroke: var(--body-text) !important;
}

.marker {
	fill: var(--body-text) !important;
	stroke: var(--body-text) !important;
}

.iframe-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.iframe-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}