---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SearchDocs from '../components/SearchDocs.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('../pages/docs/*.{md,mdx}')).map(glob => ({
	...glob,
	frontmatter: glob.frontmatter, // for lint below
	content: glob.compiledContent() 
})).sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
        <SearchDocs posts={posts} client:load />
			</section>
		</main>
		<Footer />
	</body>
</html>
