---
const today = new Date();
---

<div class="max-width">
	<hr />
</div>

<footer>
	&copy; {today.getFullYear()} Triple Whale. All rights reserved.
</footer>

<style>
	footer {
		padding-top: 0;
		text-align: center;
	}
</style>
