---
import HeaderLink from './HeaderLink.astro';
import LightDarkMode from './LightDarkMode.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<div class="header-inner">
		<div>
			<a href="/">
				<img src="/tw-logo.svg" alt={SITE_TITLE} width="150" height="21" />
			</a>
		</div>
		<nav>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/onboarding">Onboarding</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/search">Search</HeaderLink>
			<LightDarkMode />
		</nav>
	</div>
</header>

<style>
	header {
		margin: 0em 0 2em;
		background: var(--header-background);
		position: sticky;
		top: -1px;
		z-index: 1;
	}

	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.25em;
		padding: 1em;
	}

	nav {
		text-align: right;
	}

	nav a {
		color: var(--light-blue);
	}

	h2 {
		margin: 0.5em 0;
	}
</style>
