---
const { posts } = Astro.props
---

<br />
<hr />
<br />
<br />

<div class="posts">
  {
    posts.map((post: any) => (
      <a class="post" href={post.url}>
        <h2>{post.frontmatter.title}</h2>
        <time datetime={post.frontmatter.pubDate}>
          {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })}
        </time>
        <p>{post.frontmatter.description}</p>
      </a>
    ))
  }
</div>